.u-section-1 .u-sheet-1 {
  min-height: 115px;
}

.u-section-1 .u-image-1 {
  width: 94px;
  height: 94px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px auto 0 11px;
}

.u-section-1 .u-logo-image-1 {
  width: 100%;
  height: 100%;
}

.u-section-1 .u-list-1 {
  width: 374px;
  margin: -27px auto 40px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 3012px;
}

.u-section-2 .u-products-1 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 500px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 19px;
  display:inline-block;
}

.u-section-2 .u-image-1 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 19px;
}

.u-section-2 .u-image-2 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 19px;
}

.u-section-2 .u-image-3 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 19px;
}

.u-section-2 .u-image-4 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-products-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 500px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 19px;
}

.u-section-2 .u-image-5 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 19px;
}

.u-section-2 .u-image-6 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-6 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 19px;
}

.u-section-2 .u-image-7 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-7 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 19px;
}

.u-section-2 .u-image-8 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-8 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-products-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 500px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 19px;
}

.u-section-2 .u-image-9 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-9 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-9 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 19px;
}

.u-section-2 .u-image-10 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-10 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 19px;
}

.u-section-2 .u-image-11 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-11 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-11 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px 19px;
}

.u-section-2 .u-image-12 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-12 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-12 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 21px auto 0;
}

.u-section-2 .u-products-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-4 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 500px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 19px;
}

.u-section-2 .u-image-13 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-13 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-13 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px 19px;
}

.u-section-2 .u-image-14 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-14 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-14 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px 19px;
}

.u-section-2 .u-image-15 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-15 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-15 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-15 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px 19px;
}

.u-section-2 .u-image-16 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-16 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-16 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

.u-section-2 .u-products-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-5 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 500px;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px 19px;
}

.u-section-2 .u-image-17 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-17 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-17 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-17 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px 19px;
}

.u-section-2 .u-image-18 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-18 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-18 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-18 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px 19px;
}

.u-section-2 .u-image-19 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-19 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-19 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-19 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px 19px;
}

.u-section-2 .u-image-20 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-20 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-20 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-20 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

.u-section-2 .u-products-6 {
  margin-top: -1px;
  margin-bottom: 1px;
}

.u-section-2 .u-repeater-6 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 500px;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px 19px;
}

.u-section-2 .u-image-21 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-21 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-21 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-21 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-22 {
  padding: 30px 19px;
}

.u-section-2 .u-image-22 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-22 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-22 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-22 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-23 {
  padding: 30px 19px;
}

.u-section-2 .u-image-23 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-23 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-23 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-23 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-24 {
  padding: 30px 19px;
}

.u-section-2 .u-image-24 {
  height: 272px;
  width: 245px;
  margin: 0 auto;
}

.u-section-2 .u-text-24 {
  margin: 20px 1px 0;
}

.u-section-2 .u-product-price-24 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-24 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, 25%);
    min-height: 412px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(4, 25%);
    min-height: 412px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(4, 25%);
    min-height: 412px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-4 {
    grid-template-columns: repeat(4, 25%);
    min-height: 412px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-5 {
    grid-template-columns: repeat(4, 25%);
    min-height: 412px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-6 {
    grid-template-columns: repeat(4, 25%);
    min-height: 412px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1262px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1262px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1262px;
  }

  .u-section-2 .u-repeater-4 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1262px;
  }

  .u-section-2 .u-repeater-5 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1262px;
  }

  .u-section-2 .u-repeater-6 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1262px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-6 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-2 .u-btn-9,
.u-section-2 .u-btn-9:before,
.u-section-2 .u-btn-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-9.u-btn-9.u-btn-9:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-9.u-btn-9.u-btn-9.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-10,
.u-section-2 .u-btn-10:before,
.u-section-2 .u-btn-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-10.u-btn-10.u-btn-10:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-10.u-btn-10.u-btn-10.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-11,
.u-section-2 .u-btn-11:before,
.u-section-2 .u-btn-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-11.u-btn-11.u-btn-11:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-11.u-btn-11.u-btn-11.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-12,
.u-section-2 .u-btn-12:before,
.u-section-2 .u-btn-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-12.u-btn-12.u-btn-12:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-12.u-btn-12.u-btn-12.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-13,
.u-section-2 .u-btn-13:before,
.u-section-2 .u-btn-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-13.u-btn-13.u-btn-13:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-13.u-btn-13.u-btn-13.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-14,
.u-section-2 .u-btn-14:before,
.u-section-2 .u-btn-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-14.u-btn-14.u-btn-14:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-14.u-btn-14.u-btn-14.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-15,
.u-section-2 .u-btn-15:before,
.u-section-2 .u-btn-15 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-15.u-btn-15.u-btn-15:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-15.u-btn-15.u-btn-15.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-16,
.u-section-2 .u-btn-16:before,
.u-section-2 .u-btn-16 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-16.u-btn-16.u-btn-16:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-16.u-btn-16.u-btn-16.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-17,
.u-section-2 .u-btn-17:before,
.u-section-2 .u-btn-17 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-17.u-btn-17.u-btn-17:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-17.u-btn-17.u-btn-17.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-18,
.u-section-2 .u-btn-18:before,
.u-section-2 .u-btn-18 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-18.u-btn-18.u-btn-18:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-18.u-btn-18.u-btn-18.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-19,
.u-section-2 .u-btn-19:before,
.u-section-2 .u-btn-19 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-19.u-btn-19.u-btn-19:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-19.u-btn-19.u-btn-19.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-20,
.u-section-2 .u-btn-20:before,
.u-section-2 .u-btn-20 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-20.u-btn-20.u-btn-20:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-20.u-btn-20.u-btn-20.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-21,
.u-section-2 .u-btn-21:before,
.u-section-2 .u-btn-21 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-21.u-btn-21.u-btn-21:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-21.u-btn-21.u-btn-21.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-22,
.u-section-2 .u-btn-22:before,
.u-section-2 .u-btn-22 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-22.u-btn-22.u-btn-22:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-22.u-btn-22.u-btn-22.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-23,
.u-section-2 .u-btn-23:before,
.u-section-2 .u-btn-23 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-23.u-btn-23.u-btn-23:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-23.u-btn-23.u-btn-23.hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-24,
.u-section-2 .u-btn-24:before,
.u-section-2 .u-btn-24 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-24.u-btn-24.u-btn-24:hover {
  border-radius: 10px !important;
}

.u-section-2 .u-btn-24.u-btn-24.u-btn-24.hover {
  border-radius: 10px !important;
}